.page-header {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 186px 170px 986px 1fr;
  grid-template-rows: 90px 40px 80px 260px repeat(2, 130px) 126px;
  grid-template-areas: 'aside logo slogan contacts right-field'
  'aside main-menu main-menu main-menu right-field'
  'aside intro intro intro right-field'
  'aside header header header right-field'
  'aside promo promo promo right-field'
  'aside bid bid bid right-field'
  'aside link link link right-field';
  font-size: 17px;
}

.page-header::before {
  position: absolute;
  top: 221px;
  right: calc(278px + (525 - 278) * ((100vw - 1435px) / (1920 - 1435)));
  width: 635px;
  height: 632px;
  content: '';
  background-image: url('page-header__bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-header::after {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: calc(-243px - (0 + -243) * ((100vw - 1435px) / (1920 - 1435)));
  width: 895px;
  height: 823px;
  content: '';
  background-image: url('page-header__bg.webp');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-header__aside {
  z-index: 2000;
  grid-area: aside;
  padding-top: 217px;
  padding-left: calc(16px + (70 - 16) * ((100vw - 1435px) / (1920 - 1435)));
}

.page-header__logo {
  position: relative;
  grid-area: logo;
  margin-top: 12px;
}

.page-header__slogan {
  grid-area: slogan;
  margin-top: 40px;
  color: #b1b2b3;
  font-size: 15px;
}

.page-header__contacts {
  z-index: 2000;
  display: grid;
  grid-template-columns: 236px 24px 222px;
  grid-template-rows: 54px;
  grid-template-areas: 'email link phone';
  grid-area: contacts;
  margin-top: 36px;
  margin-left: auto;
}

.page-header__contact {
  color: #ffffff;
  text-decoration: none;
}

.page-header__contact_type_email {
  grid-area: email;
  margin-top: 4px;
}

.page-header__contact_type_link {
  grid-area: link;
}

.page-header__contact_type_phone {
  grid-area: phone;
  justify-self: end;
}

.page-header__email {
  padding-left: 28px;
  background-image: url('page-header__email-icon.png');
  background-repeat: no-repeat;
  background-position: 0 4px;
  line-height: 18px;
}

.page-header__whatsapp-link {
  width: 24px;
  height: 24px;
  background-image: url('page-header__whatsapp-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.page-header__phone {
  font-size: 25px;
  line-height: 20px;
}

.page-header__contact-accent {
  font-weight: bold;
}

.page-header__contact-description {
  color: #ffffff80;
  font-size: 13px;
}

.page-header__main-menu {
  z-index: 3000;
  grid-area: main-menu;
}

.page-header__main-menu-botton {
  display: none;
}

.page-header__messenger-button {
  display: none;
}

.page-header__intro {
  z-index: 2000;
  display: flex;
  grid-area: intro;
  align-items: flex-end;
}

.page-header__header {
  z-index: 2000;
  grid-area: header;
  max-width: 830px;
}

.page-header__main-header {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -1px;
  font-size: 55.9px;
  line-height: 71px;
}

.page-header__main-header_major {
  font-size: 168px;
  line-height: 170px;
}

.page-header__promo {
  z-index: 2000;
  display: flex;
  grid-area: promo;
  align-items: center;
  margin-left: 10px;
}

.page-header__promo-link {
  font-size: 40px;
}

.page-header__bid {
  z-index: 2000;
  display: flex;
  grid-area: bid;
  column-gap: 24px;
  align-items: center;
  margin-left: 29px;
}

.page-header__bid-insertion {
  flex: 411px 0 1;
  height: 80px;
}

.page-header__bid-button {
  flex: 0 1 216px;
  height: 62px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
}

.page-header__link {
  z-index: 2000;
  grid-area: link;
  padding-top: 14px;
  padding-left: 652px;
}

.page-header__insertion-link {
  width: max-content;
  height: 68px;
  font-size: 17px;
}

@media (max-width: 1435px) {
  .page-header {
    grid-template-columns: 1fr 186px 170px 644px 1fr;
    grid-template-rows: 90px 40px 70px 210px repeat(2, 124px) 126px;
  }

  .page-header::before {
    top: 148px;
    right: calc(129px + (289 - 129) * ((100vw - 1110px) / (1435 - 1110)));
    width: 635px;
    height: 635px;
    background-image: url('page-header__bg-sub1350px.jpg');
  }

  .page-header::after {
    top: -21px;
    right: 0;
    right: calc(-161px - (0 + -161) * ((100vw - 1110px) / (1435 - 1110)));
    width: 742px;
    height: 701px;
  }

  .page-header__contacts {
    grid-template-columns: 196px 24px 222px;
  }

  .page-header__aside {
    padding-top: 213px;
    padding-left: calc(16px + (110 - 16) * ((100vw - 1110px) / (1435 - 1110)));
  }

  .page-header__header {
    max-width: 580px;
  }

  .page-header__main-header {
    margin-left: -2px;
    font-size: 38px;
    line-height: 71px;
  }

  .page-header__main-header_major {
    line-height: 109px;
  }

  .page-header__promo-link {
    font-size: 34px;
  }

  .page-header__bid {
    margin-left: 0;
  }

  .page-header__bid-insertion {
    flex: 0 1 277px;
  }

  .page-header__link {
    padding-top: 20px;
    padding-left: 503px;
  }
}

@media (max-width: 1110px) {
  .page-header {
    grid-template-columns: 1fr 200px 568px 1fr;
    grid-template-rows: 100px 40px 160px 130px 190px 110px;
    grid-template-areas: 'aside logo contacts right-field'
    'aside intro intro right-field'
    'aside header header right-field'
    'aside promo promo right-field'
    'aside bid bid right-field'
    'aside link link right-field';
  }

  .page-header::before {
    top: 91px;
    right: calc(-71px - (-71 + -49) * ((100vw - 870px) / (1110 - 870)));
  }

  .page-header::after {
    top: -39px;
    right: calc(-227px - (107 + -227) * ((100vw - 870px) / (1110 - 870)));
    width: 690px;
    height: 630px;
  }

  .page-header__aside {
    padding-top: 198px;
    padding-left: calc(16px + (99 - 16) * ((100vw - 870px) / (1110 - 870)));
  }

  .page-header__main-menu-botton {
    position: absolute;
    z-index: 6000;
    top: 38px;
    left: calc(230px + ((100vw - 768px) / 2));
  }

  .page-header__logo::before {
    position: absolute;
    top: 16px;
    right: -37px;
    width: 1px;
    height: 61px;
    content: '';
    background-color: #c8c8c8;
  }

  .page-header__slogan {
    display: none;
  }

  .page-header__contacts {
    grid-template-columns: 182px 24px 194px;
  }

  .page-header__contact_type_email {
    margin-top: 2px;
    padding-left: 24px;
    font-size: 16px;
  }

  .page-header__contact_type_phone {
    font-size: 22px;
  }

  .page-header__main-menu {
    position: absolute;
    top: -100%;
    left: calc((100vw - 768px) / 2);
    padding: 50px 20px 20px 20px;
    transition-duration: 1s;
    transition-property: top;
    border: 1px solid #2c3137;
    background-color: #ffffff;
  }

  .page-header__main-menu_open {
    top: 0;
  }

  .page-header__header {
    max-width: 470px;
  }

  .page-header__main-header {
    font-size: 32px;
    line-height: 63px;
  }

  .page-header__main-header_major {
    font-size: 110px;
    line-height: 85px;
  }

  .page-header__promo {
    margin-left: 0;
  }

  .page-header__promo-link {
    font-size: 30px;
  }

  .page-header__bid {
    column-gap: 0;
    row-gap: 28px;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    max-width: 380px;
    padding-left: 0;
  }

  .page-header__bid-insertion {
    flex: 0 1 90px;
  }

  .page-header__bid-button {
    flex: 0 0 62px;
    width: 216px;
    height: 100%;
    margin-left: 3px;
  }

  .page-header__link {
    padding-top: 0;
    padding-left: 469px;
  }
}

@media (max-width: 870px) {
  .page-header {
    grid-template-columns: 1fr 174px 466px 1fr;
    grid-template-rows: 100px 40px 140px 120px 190px 118px;
  }

  .page-header::before {
    top: 73px;
    right: -12px;
    right: calc(-128px - (12 + -128) * ((100vw - 640px) / (870 - 640)));
  }

  .page-header::after {
    top: -44px;
    right: calc(-337px - (221 + -337) * ((100vw - 640px) / (870 - 640)));
  }

  .page-header__main-menu-botton {
    top: 34px;
    left: calc(215px + ((100vw - 640px) / 2));
  }

  .page-header__messenger-button {
    position: absolute;
    z-index: 3000;
    top: 43px;
    left: calc(466px + ((100vw - 768px) / 2));
  }

  .page-header__requisites::before {
    top: 23px;
    left: 175px;
  }

  .page-header__logo {
    margin-top: 17px;
  }

  .page-header__logo::before {
    top: 7px;
    right: -41px;
  }

  .page-header__contacts {
    grid-template-columns: 22px 198px;
    grid-template-rows: 22px 26px;
    grid-template-areas: 'link phone'
      'email email';
    margin-top: 39px;
  }

  .page-header__contact_type_link {
    display: none;
  }

  .page-header__contact_type_phone {
    padding-left: 0;
  }

  .page-header__contact_type_email {
    padding-left: 26px;
    align-self: end;
    justify-self: end;
  }

  .page-header__contact-description {
    display: none;
  }

  .page-header__main-menu {
    left: calc((100vw - 640px) / 2);
  }

  .page-header__header {
    max-width: 390px;
  }

  .page-header__main-header {
    margin-left: 2px;
    font-size: 28px;
    line-height: 42px;
  }

  .page-header__main-header_major {
    font-size: 90px;
  }

  .page-header__promo-link {
    font-size: 25px;
  }

  .page-header__bid {
    row-gap: 34px;
  }

  .page-header__bid-button {
    width: 209px;
  }

  .page-header__link {
    padding-top: 10px;
    padding-left: 346px;
  }
}

@media (max-width: 648px) {
  .page-header {
    grid-template-columns: 1fr 136px 224px 1fr;
    grid-template-rows: 130px 134px 80px 210px 80px;
    grid-template-areas: 'aside logo contacts right-field'
    'aside header header right-field'
    'aside promo promo right-field'
    'aside bid bid right-field'
    'aside link link right-field';
  }

  .page-header::before {
    top: 171px;
    right: calc(-129px + (16 - -129) * ((100vw - 360px) / (648 - 360)));
    width: 462px;
    height: 462px;
    background-image: url('page-header__bg-sub648px.jpg');
  }

  .page-header::after {
    top: -31px;
    right: calc(-315px - (175 + -315) * ((100vw - 360px) / (648 - 360)));
    width: 525px;
    height: 525px;
  }

  .page-header__main-menu-botton {
    top: 70px;
    left: calc(0px + ((100vw - 360px) / 2));
  }

  .page-header__messenger-button {
    top: 70px;
    left: calc(258px + ((100vw - 768px) / 2));
  }

  .page-header__logo::before {
    display: none;
  }

  .page-header__logo {
    margin-top: 1px;
    margin-right: 0;
  }

  .page-header__contacts {
    margin-top: 19px;
    grid-template-columns: 190px;
    grid-template-areas: 'phone'
      'email';
  }

  .page-header__contact_type_email, .page-header__contact_type_phone {
    padding: 0;
    background-image: none;
    justify-self: start;
  }

  .page-header__main-menu {
    left: calc((100vw - 360px) / 2);
  }

  .page-header__intro {
    display: none;
  }

  .page-header__header {
    max-width: 200px;
  }

  .page-header__main-header {
    margin-left: -1px;
    font-size: 21px;
  }

  .page-header__main-header_major {
    font-size: 48px;
    line-height: 48px;
  }

  .page-header__promo {
    align-items: start;
  }

  .page-header__bid {
    row-gap: 16px;
    max-width: 242px;
  }

  .page-header__bid-insertion {
    flex: 0 0 86px;
  }

  .page-header__bid-button {
    flex: 0 0 58px;
    width: 190px;
    margin-left: 0;
  }

  .page-header__link {
    padding-top: 0;
    padding-left: 170px;
  }
}

@media (max-width: 359px) {
  .page-header {
    grid-template-columns: 1fr 60px 260px 1fr;
    grid-template-rows: 130px 136px 60px 230px 80px;
  }

  .page-header::after {
    right: calc(-306px - (294 + -306) * ((100vw - 320px) / (358 - 320)));
  }

  .page-header__main-menu-botton {
    top: 70px;
    left: calc((100vw - 320px) / 2);
  }

  .page-header__messenger-button {
    top: 17px;
    left: calc(280px + ((100vw - 768px) / 2));
  }

  .page-header__main-menu {
    left: calc((100vw - 320px) / 2);
  }

  .page-header__contacts {
    margin-right: 6px;
  }

  .page-header__main-header {
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 10px;
    row-gap: 10px;
  }

  .page-header__bid {
    row-gap: 14px;
    max-width: 190px;
  }

  .page-header__link {
    padding-left: 130px;
  }

  .page-header__insertion-link {
    width: 160px;
  }
}