.page-header {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1342px 1fr;
  grid-template-rows: 91px
  max-content
  110px
  275px
  157px
  182px;
  grid-template-areas: 'aside requisites right-field'
  'aside main-menu right-field'
  'aside intro right-field'
  'aside header right-field'
  'aside bid right-field'
  'aside link right-field';
}

.page-header::before {
  position: absolute;
  top: 221px;
  right: calc(278px + (525 - 278) * ((100vw - 1435px) / (1920 - 1435)));
  width: 635px;
  height: 632px;
  content: '';
  background-image: url('page-header__bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-header::after {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: calc(-243px - (0 + -243) * ((100vw - 1435px) / (1920 - 1435)));
  width: 895px;
  height: 823px;
  content: '';
  background-image: url('page-header__bg.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-header__aside {
  z-index: 2000;
  grid-area: aside;
  padding-top: 217px;
  padding-left: calc(16px + (70 - 16) * ((100vw - 1435px) / (1920 - 1435)));
}

.page-header__requisites {
  z-index: 2000;
  display: flex;
  grid-area: requisites;
  /* padding-right: 290px; */
}

.page-header__logo {
  margin-top: 12px;
  margin-right: 23px;
}

.page-header__slogan {
  margin-top: 40px;
  color: #b1b2b3;
  font-size: 15px;
}

.page-header__contacts {
  display: flex;
  column-gap: 130px;
  margin-top: 36px;
  margin-left: auto;
}

.page-header__contact {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.page-header__contact_type_email {
  margin-top: 4px;
  padding-left: 28px;
  background-image: url('page-header__email-icon.png');
  background-repeat: no-repeat;
  background-position: 0 4px;
  font-size: 17px;
  line-height: 18px;
}

.page-header__contact_type_phone {
  padding-left: 25px;
  background-image: url('page-header__phone-icon.png');
  background-repeat: no-repeat;
  background-position: 0 9px;
  font-size: 25px;
  line-height: 20px;
}

.page-header__contact-emphasis {
  font-weight: bold;
}

.page-header__contact-description {
  color: #ffffff80;
  font-size: 13px;
}

.page-header__main-menu {
  z-index: 2000;
  grid-area: main-menu;
}

.page-header__main-menu-botton {
  display: none;
  margin-top: 26px;
}

.page-header__intro {
  z-index: 2000;
  display: flex;
  grid-area: intro;
  align-items: flex-end;
}

.page-header__header {
  z-index: 2000;
  grid-area: header;
}

.page-header__main-header {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -1px;
  font-size: 55.9px;
  line-height: 71px;
}

.page-header__main-header_major {
  margin-left: -14px;
  font-size: 279px;
  line-height: 193px;
}

.page-header__bid {
  z-index: 2000;
  display: flex;
  grid-area: bid;
  column-gap: 24px;
  align-items: center;
  margin-left: 29px;
}

.page-header__bid-insertion {
  flex: 411px 0 1;
  height: 80px;
}

.page-header__bid-button {
  flex: 0 1 216px;
  height: 62px;
}

.page-header__link-to-services {
  z-index: 2000;
  grid-area: link;
  padding-top: 84px;
  padding-left: 682px;
}

.page-header__insertion-link {
  width: 220px;
  height: 67px;
}

@media (max-width: 1435px) {
  .page-header {
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 91px
    max-content
    110px
    215px
    157px
    169px;
  }

  .page-header::before {
    top: 148px;
    right: calc(129px + (289 - 129) * ((100vw - 1110px) / (1435 - 1110)));
    width: 635px;
    height: 635px;
    background-image: url('page-header__bg-sub1350px.jpg');
  }

  .page-header::after {
    top: -21px;
    right: 0;
    right: calc(-161px - (0 + -161) * ((100vw - 1110px) / (1435 - 1110)));
    width: 742px;
    height: 701px;
  }

  .page-header__contacts {
    column-gap: 87px;
    margin-top: 37px;
  }

  .page-header__aside {
    padding-top: 213px;
    padding-left: calc(16px + (110 - 16) * ((100vw - 1110px) / (1435 - 1110)));
  }

  .page-header__main-header {
    margin-left: -2px;
    font-size: 38px;
    line-height: 71px;
  }

  .page-header__main-header_major {
    margin-left: -9px;
    font-size: 189px;
    line-height: 109px;
  }

  .page-header__bid {
    margin-left: 0;
  }

  .page-header__bid-insertion {
    flex: 0 1 277px;
  }

  .page-header__link-to-services {
    padding-top: 72px;
    padding-left: 503px;
  }
}

@media (max-width: 1110px) {
  .page-header {
    grid-template-columns: 1fr 768px 1fr;
    grid-template-rows: 194px
    max-content
    191px
    215px
    95px;
    grid-template-areas: 'aside requisites right-field'
    'aside intro right-field'
    'aside header right-field'
    'aside bid right-field'
    'aside link right-field';
  }

  .page-header::before {
    top: 91px;
    right: calc(-71px - (-71 + -49) * ((100vw - 870px) / (1110 - 870)));
  }

  .page-header::after {
    top: -39px;
    right: calc(-227px - (107 + -227) * ((100vw - 870px) / (1110 - 870)));
    width: 690px;
    height: 630px;
  }

  .page-header__aside {
    padding-top: 198px;
    padding-left: calc(16px + (99 - 16) * ((100vw - 870px) / (1110 - 870)));
  }

  .page-header__logo {
    margin-right: 36px;
  }

  .page-header__slogan {
    display: none;
  }

  .page-header__contacts {
    column-gap: 15px;
  }

  .page-header__contact_type_email {
    margin-top: 2px;
    font-size: 16px;
  }

  .page-header__contact_type_phone {
    font-size: 22px;
  }

  .page-header__main-header {
    font-size: 32px;
    line-height: 63px;
  }

  .page-header__main-header_major {
    margin-left: -6px;
    font-size: 156px;
    line-height: 85px;
  }

  .page-header__bid {
    column-gap: 0;
    row-gap: 28px;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    max-width: 380px;
    padding-left: 0;
  }

  .page-header__bid-insertion {
    flex: 0 1 90px;
    height: 80px;
  }

  .page-header__bid-button {
    flex: 0 0 62px;
    width: 216px;
    height: 100%;
    margin-left: 3px;
  }

  .page-header__link-to-services {
    padding-top: 0;
    padding-left: 469px;
  }

  .page-header__main-menu-botton {
    flex: 0 0 100px;
    margin-top: 11px;
  }
}

@media (max-width: 870px) {
  .page-header {
    grid-template-columns: 1fr 640px 1fr;
    grid-template-rows: 189px
    max-content
    159px
    194px
    136px;
  }

  .page-header::before {
    top: 73px;
    right: -12px;
    right: calc(-128px - (12 + -128) * ((100vw - 640px) / (870 - 640)));
  }

  .page-header::after {
    top: -44px;
    right: calc(-337px - (221 + -337) * ((100vw - 640px) / (870 - 640)));
  }

  .page-header__logo {
    margin-top: 17px;
    margin-right: 40px;
  }

  .page-header__main-menu-botton {
    flex: 0 0 116px;
    margin-top: 21px;
  }

  .page-header__contacts {
    row-gap: 5px;
    flex-direction: column;
  }

  .page-header__contact_type_phone {
    padding-left: 20px;
    background-position: 0 3px;
  }

  .page-header__contact_type_email {
    order: 1;
    padding-left: 24px;
  }

  .page-header__contact-description {
    display: none;
  }

  .page-header__main-header {
    margin-left: 2px;
    font-size: 28px;
    line-height: 42px;
  }

  .page-header__main-header_major {
    font-size: 133px;
  }

  .page-header__bid {
    row-gap: 34px;
  }

  .page-header__bid-button {
    width: 209px;
  }

  .page-header__link-to-services {
    padding-top: 39px;
    padding-left: 346px;
  }
}

@media (max-width: 648px) {
  .page-header {
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 132px
    166px
    194px
    142px;
    grid-template-areas: 'aside requisites right-field'
    'aside header right-field'
    'aside bid right-field'
    'aside link right-field';
  }

  .page-header::before {
    top: 171px;
    right: calc(-129px + (16 - -129) * ((100vw - 360px) / (648 - 360)));
    width: 462px;
    height: 462px;
    background-image: url('page-header__bg-sub648px.jpg');
  }

  .page-header::after {
    top: -31px;
    right: -172px;
    right: calc(-315px - (175 + -315) * ((100vw - 360px) / (648 - 360)));
    width: 525px;
    height: 525px;
  }

  .page-header__requisites {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-top: 1px;
    margin-right: 0;
  }

  .page-header__contacts {
    margin-top: 19px;
  }

  .page-header__contact_type_email, .page-header__contact_type_phone {
    padding: 0;
    background-image: none;
  }

  .page-header__main-menu-botton {
    flex: 0 0 60px;
    order: 1;
    margin-top: 0;
    margin-left: auto;
  }

  .page-header__intro {
    display: none;
  }

  .page-header__main-header {
    margin-left: -1px;
    font-size: 21px;
  }

  .page-header__main-header_major {
    margin-left: -4px;
    font-size: 76px;
    line-height: 57px;
  }

  .page-header__bid {
    row-gap: 33px;
    max-width: 242px;
  }

  .page-header__bid-insertion {
    flex: 0 0 86px;
  }

  .page-header__bid-button {
    flex: 0 0 58px;
    width: 190px;
    margin-left: 0;
  }

  .page-header__link-to-services {
    padding-top: 47px;
    padding-left: 153px;
  }

  .page-header__insertion-link {
    width: 196px;
  }
}