.page-header {
  position: relative;
  display: grid;
  grid-template-columns: calc(173px + (289 - 173) * ((100vw - 1350px) / (1920 - 1350))) 1fr;
  grid-template-rows: 91px
  max-content
  110px
  calc(215px + (275 - 215) * ((100vw - 1350px) / (1920 - 1350)))
  157px
  1fr;
  grid-template-areas: 'aside requisites'
  'aside main-menu'
  'aside intro'
  'aside header'
  'aside bid'
  'aside link';
  background-color: #ffffff;
}

.page-header::before {
  position: absolute;
  top: calc(148px + (221 - 148) * ((100vw - 1350px) / (1920 - 1350)));
  right: calc(250px + (525 - 250) * ((100vw - 1350px) / (1920 - 1350)));
  width: 635px;
  height: 632px;
  content: '';
  background-image: url('page-header__bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-header::after {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: calc(704px + (895 - 704) * ((100vw - 1350px) / (1920 - 1350)));
  height: calc(681px + (823 - 681) * ((100vw - 1350px) / (1920 - 1350)));
  content: '';
  background-image: url('page-header__bg.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-header__aside {
  z-index: 2000;
  grid-area: aside;
  padding-top: calc(213px + (217 - 213) * ((100vw - 1350px) / (1920 - 1350)));
  padding-left: calc(66px + (70 - 66) * ((100vw - 1350px) / (1920 - 1350)));
}

.page-header__requisites {
  z-index: 2000;
  display: flex;
  grid-area: requisites;
  padding-right: calc(178px + (290 - 178) * ((100vw - 1350px) / (1920 - 1350)));
}

.page-header__logo {
  margin-top: 12px;
  margin-right: 23px;
}

.page-header__slogan {
  margin-top: 40px;
  color: #b1b2b3;
  font-size: 15px;
}

.page-header__contacts {
  display: flex;
  column-gap: calc(87px + (130 - 87) * ((100vw - 1350px) / (1920 - 1350)));
  margin-top: 36px;
  margin-left: auto;
}

.page-header__contact {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.page-header__contact_type_email {
  margin-top: 4px;
  padding-left: 28px;
  background-image: url('page-header__email-icon.png');
  background-repeat: no-repeat;
  background-position: 0 4px;
  font-size: 17px;
  line-height: 18px;
}

.page-header__contact_type_phone {
  padding-left: 25px;
  background-image: url('page-header__phone-icon.png');
  background-repeat: no-repeat;
  background-position: 0 9px;
  font-size: 25px;
  line-height: 20px;
}

.page-header__contact-emphasis {
  font-weight: bold;
}

.page-header__contact-description {
  color: #ffffff80;
  font-size: 13px;
}

.page-header__main-menu {
  z-index: 2000;
  grid-area: main-menu;
}

.page-header__main-menu-botton {
  display: none;
  margin-top: 26px;
}

.page-header__intro {
  z-index: 2000;
  display: flex;
  grid-area: intro;
  align-items: flex-end;
}

.page-header__header {
  z-index: 2000;
  grid-area: header;
}

.page-header__main-header {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -1px;
  font-size: calc(37.9px + (55.9 - 37.9) * ((100vw - 1350px) / (1920 - 1350)));
  line-height: 71px;
}

.page-header__main-header_major {
  margin-left: calc(-10px + (-14 - -10) * ((100vw - 1350px) / (1920 - 1350)));
  font-size: calc(189px + (279 - 189) * ((100vw - 1350px) / (1920 - 1350)));
  line-height: calc(109px + (193 - 109) * ((100vw - 1350px) / (1920 - 1350)));
}

.page-header__bid {
  z-index: 2000;
  display: flex;
  grid-area: bid;
  column-gap: 24px;
  align-items: center;
  padding-left: calc(0px + (29 - 0) * ((100vw - 1350px) / (1920 - 1350)));
}

.page-header__bid-insertion {
  flex: calc(270px + (411 - 270) * ((100vw - 1350px) / (1920 - 1350))) 0 1;
  height: 80px;
}

.page-header__bid-button {
  flex: 216px 0 1;
  height: 62px;
}

.page-header__link-to-services {
  z-index: 2000;
  grid-area: link;
  padding-top: calc(72px + (84 - 72) * ((100vw - 1350px) / (1920 - 1350)));
  padding-left: calc(503px + (682 - 503) * ((100vw - 1350px) / (1920 - 1350)));
}

.page-header__insertion-link {
  width: 220px;
  height: 67px;
}

@media (max-width: 1350px) {
  .page-header {
    grid-template-columns: calc(121px + (172 - 121) * ((100vw - 1000px) / (1350 - 1000))) 1fr;
    grid-template-rows: 91px
    max-content
    110px
    calc(190px + (215 - 190) * ((100vw - 1000px) / (1350 - 1000)))
    157px
    170px;
  }

  .page-header::before {
    top: calc(132px + (148 - 132) * ((100vw - 1000px) / (1350 - 1000)));
    right: calc(0px + (250 - 0) * ((100vw - 1000px) / (1350 - 1000)));
    width: calc(606px + (635 - 606) * ((100vw - 1000px) / (1350 - 1000)));
    height: calc(606px + (635 - 606) * ((100vw - 1000px) / (1350 - 1000)));
    background-image: url('page-header__bg-sub1350px.jpg');
  }

  .page-header::after {
    width: calc(522px + (704 - 522) * ((100vw - 1000px) / (1350 - 1000)));
    height: calc(583px + (681 - 583) * ((100vw - 1000px) / (1350 - 1000)));
  }

  .page-header__requisites {
    z-index: 2000;
    padding-right: calc(46px + (178 - 46) * ((100vw - 1000px) / (1350 - 1000)));
  }

  .page-header__contacts {
    column-gap: calc(43px + (87 - 43) * ((100vw - 1000px) / (1350 - 1000)));
    margin-top: 33px;
  }

  .page-header__aside {
    padding-top: calc(198px + (213 - 198) * ((100vw - 1000px) / (1350 - 1000)));
    padding-left: calc(49px + (66 - 49) * ((100vw - 1000px) / (1350 - 1000)));
  }

  .page-header__main-header {
    margin-left: -2px;
    font-size: calc(31.17px + (37.9 - 31.17) * ((100vw - 1000px) / (1350 - 1000)));
    line-height: calc(63px + (71 - 63) * ((100vw - 1000px) / (1350 - 1000)));
  }

  .page-header__main-header_major {
    margin-left: calc(-7px + (-10 - -7) * ((100vw - 1000px) / (1350 - 1000)));
    font-size: calc(155.7px + (189 - 155.7) * ((100vw - 1000px) / (1350 - 1000)));
    line-height: calc(84px + (109 - 84) * ((100vw - 1000px) / (1350 - 1000)));
  }

  .page-header__link-to-services {
    padding-top: calc(29px + (72 - 29) * ((100vw - 1000px) / (1350 - 1000)));
    padding-left: calc(469px + (503 - 469) * ((100vw - 1000px) / (1350 - 1000)));
  }
}

@media (max-width: 1270px) {
  .page-header {
    grid-template-rows: 91px
    max-content
    136px
    calc(190px + (215 - 190) * ((100vw - 1000px) / (1350 - 1000)))
    185px
    152px;
  }

  .page-header__logo {
    margin-right: 36px;
  }

  .page-header__slogan {
    display: none;
  }

  .page-header__bid {
    column-gap: 0;
    row-gap: 29px;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    max-width: 380px;
    padding-left: 0;
  }

  .page-header__bid-insertion {
    flex: 90px 0 1;
    height: 80px;
  }

  .page-header__bid-button {
    flex: 62px 0 1;
    width: 216px;
    height: 100%;
    margin-left: 3px;
  }

  .page-header__main-menu-botton {
    flex: 0 0 100px;
  }
}

@media (max-width: 999px) {
  .page-header {
    grid-template-columns: 1fr;
    grid-template-rows: 91px
    max-content
    136px
    calc(160px + (190 - 160) * ((100vw - 767px) / (999 - 767)))
    185px
    152px;
    grid-template-areas: 'requisites'
    'main-menu'
    'intro'
    'header'
    'bid'
    'link';
    padding-left: calc(59px + (121 - 59) * ((100vw - 767px) / (999 - 767)));
  }

  .page-header::after {
    width: calc(419px + (522 - 419) * ((100vw - 767px) / (999 - 767)));
    height: 583px;
    background-image: url('page-header__bg-sub999px.png');
  }

  .page-header::before {
    top: calc(139px - (139 - 132) * ((100vw - 767px) / (999 - 767)));
    right: 0;
    width: calc(575px + (606 - 575) * ((100vw - 767px) / (999 - 767)));
    height: calc(575px + (606 - 575) * ((100vw - 767px) / (999 - 767)));
  }

  .page-header__logo {
    margin-top: calc(21px - (21 - 12) * ((100vw - 767px) / (999 - 767)));
    margin-right: calc(40px - (40 - 36) * ((100vw - 767px) / (999 - 767)));
  }

  .page-header__main-menu-botton {
    flex: 0 0 calc(116px - (116 - 100) * ((100vw - 767px) / (999 - 767)));
  }

  .page-header__requisites {
    flex-wrap: wrap;
    padding-right: calc(26px + (86 - 26) * ((100vw - 767px) / (999 - 767)));
  }

  .page-header__contacts {
    row-gap: 5px;
    flex-direction: column;
    margin-top: 31px;
  }

  .page-header__contact_type_phone {
    background-position: 0 5px;
  }

  .page-header__contact_type_email {
    order: 4;
    margin-right: 0;
  }

  .page-header__contact-description {
    display: none;
  }

  .page-header__main-header {
    margin-left: calc(3px - (3 - -2) * ((100vw - 767px) / (999 - 767)));
    line-height: calc(44px + (63 - 44) * ((100vw - 767px) / (999 - 767)));
  }

  .header__main-header_major {
    line-height: 84px;
  }

  .page-header__bid {
    row-gap: calc(32px + (29 - 32) * ((100vw - 767px) / (999 - 767)));
  }

  .page-header__link-to-services {
    padding-top: calc(46px + (29 - 46) * ((100vw - 767px) / (999 - 767)));
    padding-left: calc(348px + (469 - 348) * ((100vw - 767px) / (999 - 767)));
  }
}

@media (max-width: 767px) {
  .page-header::before {
    width: calc(330px + (575 - 330) * ((100vw - 360px) / (767 - 360)));
    height: calc(460px + (575 - 460) * ((100vw - 360px) / (767 - 360)));
    top: calc(170px - (170 - 132) * ((100vw - 360px) / (767 - 360)));
  }

  .page-header::after {
    width: calc(206px + (419 - 206) * ((100vw - 360px) / (767 - 360)));
    height: calc(484px + (583 - 484) * ((100vw - 360px) / (767 - 360)));
  }

  .page-header__logo {
    margin-top: calc(7px + (21 - 7) * ((100vw - 360px) / (767 - 360)));
    margin-left: 6px;
    margin-right: calc(10px + (40 - 10) * ((100vw - 360px) / (767 - 360)));
  }

  .page-header__contacts {
    margin-right: 5px;
  }

  .page-header__main-menu-botton {
    flex: 0 0 60px;
  }

  .main-menu-button::before {
    display: none;
  }

  .page-header__main-header {
    font-size: calc(22px + (26.5 - 22) * ((100vw - 360px) / (767 - 360)));
  }

  .header__main-header_major {
    font-size: calc(76px + (132 - 76) * ((100vw - 360px) / (767 - 360)));
  }

  .page-header__bid {
    max-width: calc(260px + (380 - 260) * ((100vw - 360px) / (767 - 360)));
  }
}

@media (max-width: 570px) {
  .page-header {
    grid-template-columns: 1fr;
    grid-template-rows: 142px
    calc(160px + (190 - 160) * ((100vw - 767px) / (999 - 767)))
    185px
    152px;
    grid-template-areas: 'requisites'
    'header'
    'bid'
    'link';
    padding-left: 0;
  }

  .page-header__contacts {
    margin-left: calc(16px + (202 - 16) * ((100vw - 360px) / (570 - 360)));
    margin-right: 0px;
  }

  .page-header__main-menu-botton {
    margin-left: auto;
    margin-top: 0;
  }

  .page-header__contact_type_email {
    padding-left: 0;
    background-image: none;
    text-align: end;
  }
  
  .page-header__contact_type_phone {
    padding-left: 0;
    background-image: none;
    font-size: 22px;
  }

  .page-header__intro {
    display: none;
  }

  .page-header__main-header {
    margin-left: calc(2px + (7.3 - 2) * ((100vw - 360px) / (570 - 360)));
    line-height: calc(23px + (43 - 23) * ((100vw - 360px) / (570 - 360)));
  }

  .header__main-header_major {
    margin-left: 0;
  }
}