.main-menu {
  display: flex;
  column-gap: 42px;
  padding-left: 44px;
  background-image: url('main-menu__bg.png');
  background-repeat: no-repeat;
  background-position: 0 47%;
}

.main-menu__item {
  list-style: none;
  color: #a6a6a6;
  font-size: 17px;
  line-height: 40px;
}

.main-menu__item_type_category {
  margin-right: -16px;
  padding-right: 16px;
  background-image: url('main-menu__arrow.png');
  background-repeat: no-repeat;
  background-position: right 55%;
}

.main-menu__item_active {
  color: #2c3137;
}

@media (max-width: 1435px) {
  .main-menu {
    padding-left: 33px;
    column-gap: 35px;
  }

  .main-menu__item:last-child {
    color: #ffffff;
  }
}

@media (max-width: 1110px) {
  .main-menu {
    display: none;
  }
}