.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 259px 759px 324px 1fr;
  grid-template-rows: 88px 52px 98px;
  flex-basis: 268px;
  background: linear-gradient(to right,
  #efefef 0%,
  #efefef calc(((100vw - 1342px) / 2) + 1018px),
  #2c3137 calc(((100vw - 1342px) / 2) + 1018px),
  #2c3137 100%);
  font-size: 17px;
}

.footer__link {
  position: absolute;
  z-index: 2000;
  top: -34px;
  right: calc(175px + (416 - 175) * ((100vw - 1436px) / (1920 - 1436)));
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('footer__link-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__logo {
  align-self: end;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.footer__slogan {
  align-self: end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 15px;
}

.footer__copyright {
  align-self: end;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 15px;
}

.footer__menu {
  display: flex;
  align-self: end;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  column-gap: 35px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-link {
  color: #3e3e3e;
  text-decoration: none;
}

.footer__requisites {
  position: relative;
  display: flex;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  row-gap: 14px;
  flex-direction: column;
  padding-top: 59px;
  padding-left: 70px;
}

.footer__requisites::after {
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 1px;
  content: '';
  background-color: #50575f;
}

.footer__requisite {
  padding-left: 26px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-decoration: none;
}

.footer__requisite_type_phone {
  background-image: url('footer__phone-icon.png');
  background-position-y: 3px;
}

.footer__requisite_type_e-mail {
  background-image: url('footer__email-icon.png');
  background-position-y: 7px;
}

.footer__requisites-accent {
  font-weight: 600;
}

@media (max-width: 1435px) {
  .footer {
    grid-template-columns: 1fr 228px 472px 300px 1fr;
    background: linear-gradient(to right,
    #efefef 0%,
    #efefef calc(((100vw - 1000px) / 2) + 702px),
    #2c3137 calc(((100vw - 1000px) / 2) + 702px),
    #2c3137 100%);
  }

  .footer__menu {
    grid-row: 1 / 3;
    row-gap: 15px;
    margin-right: 100px;
    margin-bottom: 32px;
  }

  .footer__link {
    right: calc(158px + (319 - 158) * ((100vw - 1111px) / (1435 - 1111)));
  }
}

@media (max-width: 1110px) {
  .footer {
    grid-template-columns: 1fr 228px 276px 264px 1fr;
    background: linear-gradient(to right,
    #efefef 0%,
    #efefef calc(((100vw - 768px) / 2) + 504px),
    #2c3137 calc(((100vw - 768px) / 2) + 504px),
    #2c3137 100%);
  }

  .footer__menu {
    column-gap: 33px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .footer__link {
    right: calc(156px + (273 - 156) * ((100vw - 871px) / (1110 - 871)));
  }

  .footer__requisites {
    padding-left: 36px;
  }
}

@media (max-width: 870px) {
  .footer {
    grid-template-columns: 1fr 370px 270px 1fr;
    grid-template-rows: 88px 52px 70px 55px;
    background: linear-gradient(to right,
    #efefef 0%,
    #efefef calc(((100vw - 640px) / 2) + 370px),
    #2c3137 calc(((100vw - 640px) / 2) + 370px),
    #2c3137 100%);
  }

  .footer__logo {
    width: 162px;
  }

  .footer__copyright {
    grid-row: 4 / 5;
  }

  .footer__menu {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    column-gap: 16px;
    margin-right: 20px;
  }

  .footer__link {
    right: calc(113px + (224 - 113) * ((100vw - 649px) / (870 - 649)));
  }

  .footer__requisites {
    grid-column: 3 / 4;
    padding-left: 34px;
  }
}

@media (max-width: 648px) {
  .footer {
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 104px 49px 100px 143px 72px;
    justify-items: center;
    background: linear-gradient(to bottom,
    #efefef 0%,
    #efefef 170px,
    #2c3137 170px,
    #2c3137 312px,
    #efefef 312px,
    #efefef 100%);
  }

  .footer__link {
    top: -38px;
    right: calc((100vw - 360px) / 2 + (180px - 37px));
  }

  .footer__logo {
    align-self: center;
  }

  .footer__slogan {
    text-align: center;
  }

  .footer__copyright {
    margin-bottom: 22px;
  }

  .footer__requisites {
    align-self: end;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-items: center;
    padding: 0;
  }

  .footer__requisites::after {
    bottom: -24px;
    width: 100%;
  }

  .footer__menu {
    grid-row: 4 / 5;
    justify-content: center;
  }

  .footer__copyright {
    grid-row: 5 / 6;
  }
}

@media (max-width: 359px) {
  .footer {
    grid-template-columns: 1fr 320px 1fr;
  }
}