.header__main-header {
  font-family: 'DIN Pro Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header__main-header_major {
  text-transform: uppercase;
  font-weight: 600;
}

.header__section-header {
  font-family: 'DIN Pro Condensed', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-left: -4px;
}

.header__accent {
  font-weight: 600;
}