.logo {
  background-image: url('logo__bg.png');
  width: 162px;
  height: 61px;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 870px) {
  .logo {
    width: 135px;
  }
}

@media (max-width: 389px) {
  .logo_in-header {
    width: 30px;
    margin: 10px 0 0 3px;
    background-image: url('logo__bg_static.png');
  }
}
