.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'HarmoniaSansProCyr', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.page__page-header {
  flex: 1 0 min-content;
}

.page__main {
  flex: 0 0 100px;
}

.page__footer {
  flex: 0 0 268px;
}