.main-menu-button {
  display: none;
}

@media (max-width: 1110px) {
  .main-menu-button {
    position: relative;
    display: flex;
    row-gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .main-menu-button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 38px;
    content: '';
    background-color: #c8c8c8;
  }

  .main-menu-button__line {
    flex: 0 0 6px;
    width: 37px;
    border-radius: 3px;
    background-color: #000000;
  }
}

@media (max-width: 648px) {
  .main-menu-button::before {
    display: none;
  }
  .main-menu-button__line {
    background-color: #ffffff;
  }
}