@media (max-width: 1110px) {
  .main-menu-button {
    display: block;
    height: 37px;
    width: 37px;
    background-image: url('main-menu-button__icon_open.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-menu-button_close {
    background-image: url('main-menu-button__icon_close.png');
    z-index: 4000;
  }
}

@media (max-width: 648px) {
  .main-menu-button_close {
    top: 5px;
    left: calc(170px + ((100vw - 360px) / 2));
  }
}