.insertion {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 36px;
  line-height: 25px;
  height: min-content;
}

.insertion::before {
  position: absolute;
  left: 1px;
  width: 1px;
  height: calc(100% + 20px);
  content: '';
  background-color: #adadad;
}

.insertion::after {
  position: absolute;
  left: 0;
  width: 10px;
  height: 36px;
  content: '';
  background-image: url('insertion__bg.png');
  background-repeat: no-repeat;
}

@media (max-width: 1435px) {
  .insertion {
    padding-left: 26px;
  }
}

@media (max-width: 648px) {
  .insertion {
    padding-left: 20px;
  }

  .insertion::before {
    left: 0;
  }

  .insertion::after {
    left: -1px;
  }
}