.main {
}

.main {
  padding-top: 40px;
}

.main__callback-form {
  margin-bottom: 160px;
}

.main__about-us {
  margin-bottom: 191px;
}

@media (max-width: 1435px) {
  .main__callback-form {
    margin-bottom: 125px;
  }
}

@media (max-width: 1110px) {
  .main {
    padding-top: 67px;
  }

  .main__callback-form {
    margin-bottom: 88px;
  }
}

@media (max-width: 870px) {
  .main {
    padding-top: 35px;
  }

  .main__advantages {
    margin-bottom: 41px;
  }

  .main__callback-form {
    margin-bottom: 51px;
  }
}

@media (max-width: 648px) {
  .main {
    padding-top: 47px;
  }

  .main__advantages {
    margin-bottom: 22px;
  }
  
  .main__callback-form {
    margin-bottom: 68px;
  }

  .main__about-us {
    margin-bottom: 30px;
  }
}