.main {
  padding-top: 40px;
}

.main__section {
  margin-bottom: 60px;
}

@media (max-width: 1435px) {
  .main {
    padding-top: 0;
  }
}

@media (max-width: 1110px) {
  .main {
    padding-top: 67px;
  }
}

@media (max-width: 870px) {
  .main {
    padding-top: 35px;
  }
}

@media (max-width: 648px) {
  .main {
    padding-top: 47px;
  }
}