.services {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1342px 1fr;
  grid-template-rows: 40px 60px 760px;
  grid-template-areas: 'aside intro right-field'
  'aside header right-field'
  'aside cards right-field';
}

.services__aside {
  z-index: 2000;
  grid-area: aside;
  padding-top: 11px;
  padding-left: calc(16px + (72 - 16) * ((100vw - 1435px) / (1920 - 1435)));
}

.services__intro {
  z-index: 2000;
  grid-area: intro;
}

.services__header {
  position: relative;
  z-index: 2000;
  display: flex;
  grid-area: header;
  column-gap: 40px;
  text-transform: uppercase;
  font-size: 45px;
}

.services__header::before {
  position: absolute;
  z-index: 1000;
  top: -28px;
  right: 84px;
  content: 'Сертификаты';
  opacity: 0.03;
  text-transform: uppercase;
  font-family: 'DIN Pro Condensed', Arial, Helvetica, sans-serif;
  font-size: 89.19px;
  font-weight: 600;
}

.services__header::after {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 63px;
  height: 63px;
  content: '';
  background-image: url('services__link-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services__description {
  align-self: center;
  flex: 0 0 395px;
  text-transform: initial;
  font-size: 17px;
}

.services__link {
  flex: 0 1 650px;
  margin-left: auto;
}

.services__cards {
  z-index: 2000;
  display: flex;
  grid-area: cards;
  row-gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 76px;
}

.services__card {
  position: relative;
  display: flex;
  flex: 0 0 340px;
  flex-direction: column;
  height: 198px;
  margin: 89px 0 0 82px;
  background-color: #efefef;
}

.services__card::before {
  position: absolute;
  top: -76px;
  left: -80px;
  width: 198px;
  height: 174px;
  content: '';
  background-repeat: no-repeat;
  background-size: 100%;
}

.services__card::after {
  position: absolute;
  top: 42px;
  left: 62px;
  width: 56px;
  height: 56px;
  content: '';
  background-color: #f3c766;
  background-repeat: no-repeat;
  background-position: 50%;
}

.services__card_type_maintenance::before {
  background-image: url('services__card_type_maintenance_bg.jpg');
}

.services__card_type_maintenance::after {
  background-image: url('services__card_type_maintenance_icon.png');
}

.services__card_type_repair::before {
  background-image: url('services__card_type_repair_bg.jpg');
}

.services__card_type_repair::after {
  background-image: url('services__card_type_repair_icon.png');
}

.services__card_type_contract::before {
  background-image: url('services__card_type_contract_bg.jpg');
}

.services__card_type_contract::after {
  background-image: url('services__card_type_contract_icon.png');
}

.services__card_type_flushing {
  flex: 0 489px;
  margin-left: 132px;
}

.services__card_type_flushing::before {
  background-image: url('services__card_type_flushing_bg.jpg');
}

.services__card_type_flushing::after {
  background-image: url('services__card_type_flushing_icon.png');
}

.services__card_type_launch {
  flex: 0 0 490px;
  margin-right: 102px;
}

.services__card_type_launch::before {
  background-image: url('services__card_type_launch_bg.jpg');
}

.services__card_type_launch::after {
  background-image: url('services__card_type_launch_icon.png');
}

.services__card-header {
  flex: 0 0 98px;
  margin: 0 24px 0 131px ;
  font-family: 'DIN Pro Condensed', Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  padding-right: 55px;
}

.services__card-header_type_flushing, .services__card-header_type_launch {
  padding-right: 114px;
}

@media (max-width: 1435px) {
  .services {
    grid-template-columns: 1fr 1000px 1fr;
  }

  .services__aside {
    padding-top: 6px;
    padding-left: calc(16px + (121 - 16) * ((100vw - 1110px) / (1435 - 1110)));
  }
}

@media (max-width: 1110px) {
  .services {
    grid-template-columns: 1fr 768px 1fr;
    grid-template-rows: 42px 82px 296px;
  }

  .services__aside {
    padding-top: 4px;
    padding-left: calc(16px + (99 - 16) * ((100vw - 870px) / (1110 - 870)));
  }

  .services__intro::after {
    top: 24px;
    left: 1px;
  }
}

@media (max-width: 870px) {
  .services {
    grid-template-columns: 1fr 640px 1fr;
    grid-template-rows: 40px 96px 285px;
  }
}

@media (max-width: 648px) {
  .services {
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 69px 253px;
    grid-template-areas: 'left-field header right-field'
    'left-field list right-field';
  }

  .services__intro {
    display: none;
  }

  .services__header {
    margin-left: 0;
    text-align: center;
    font-size: 29.9px;
  }
}