.price {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.price__row {
}

.price__row_odd {
  background-color: #efefef;
}

.price__sell {
  box-sizing: border-box;
  padding: 10px 0;
}

.price__sell_type_description {
  width: 84%;
  padding-left: 30px;
}

.price__sell_type_measure {
  width: min-content;
}

.price__sell_type_price {
  padding-right: 20px;
  text-align: right;
}

@media (max-width: 1435px) {
  .price__sell_type_description {
    padding-right: 40px;
  }
}

@media (max-width: 1110px) {
  .price__sell_type_description {
    width: 80%;
    padding-right: 20px;
  }
}

@media (max-width: 870px) {
  .price__sell_type_description {
    width: 78%;
    padding-left: 17px;
  }
}

@media (max-width: 648px) {
  .price__sell_type_description {
    width: 230px;
    padding-left: 10px;
  }
}

@media (max-width: 359px) {
  .price__sell_type_description {
    width: 190px;
    padding-left: 2px;
    padding-right: 8px;
  }

  .price__sell_type_measure {
    max-width: 50px;
  }

  .price__sell_type_price {
    padding-right: 2px;
  }
}
