.insertion-link {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  color: #2c3137;
  text-decoration: none;
  font-size: 17px;
  line-height: 22px;
}

.insertion-link::after {
  position: absolute;
  top: 44%;
  right: 0;
  width: 13px;
  height: 13px;
  content: '';
  background-image: url('insertion-link__arrow.png');
  background-repeat: no-repeat;
}

.insertion-link::before {
  position: absolute;
  right: 30px;
  width: 2px;
  height: 90%;
  content: '';
  background-color: #f3c766;
}

@media (max-width: 648px) {
  .insertion-link {
    font-size: 15px;
  }

  .insertion-link::before {
    right: 30px;
  }
}